.env.local
.env.local_temp
.env*.local
.env
*.env
.next
node_modules
tsconfig.tsbuildinfo
tsconfig.verify.tsbuildinfo
next-env.d.ts
.worktrees/
.superpowers/
tmp/

# Playwright
playwright-report/
test-results/
